header {
	text-transform: uppercase;
	background-color: grey;
}
header h1 {
	font-family: 'Shrikhand', cursive;
	color: red;
	text-shadow: 1px 1px white;
	margin-top: -10px;
}
header p {
	color: white;
	font-weight: bold;
	padding-top: 30px;
}
nav {
	background-color: lightcyan;
}