header {
	text-transform: uppercase;
	background-color: grey;
}
header h1 {
	font-family: 'Shrikhand', cursive;
	font-size: 4vw;
	color: red;
	text-shadow: 1px 1px white;
	margin-top: -10px;
}
header p {
	color: white;
	font-weight: bold;
	padding-top: 30px;
}
nav {
	background-color: lightcyan;
	border-radius: 0px;
}
nav .navbar-toggle {
	border: 1px solid grey;
}
nav .navbar-toggle:hover, nav .navbar-toggle:active {
	background-color: white;
}
nav .navbar-toggle .icon-bar {
	border: 1px solid black;
}
.navbar-nav>li > a {
	color: #222;
}
.navbar-nav>.active {
	background-color: white;
}
