div>ul>li { text-align: center; }
#nav-header { border-radius: 0px; }
section { background-color: #999; margin-top: 30px; margin-bottom: 30px; border-radius: 5px; padding: 10px; }
p { text-align: left; }
footer { background-color: #222; color: white; padding: 15px; }
footer>p { text-align: center; }