/* header*/
#nav-header { 
	background-color: #f6b319;
	border-radius: 0px;
	border: 0px; }
#logo-img {
	background: url('../images/restaurant-logo_large.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0px;}
.navbar-brand { padding-top: 25px; }
.navbar-brand h1 {
	font-family: 'lora', sans-serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: .75;}
.navbar-brand a:hover, .navbar-brand a:active {
	text-decoration: none;}
.navbar-brand p {
	text-transform: uppercase;
	color: #000;
	margin-top: 15px;
	font-size: .7em;}
.navbar-brand a span {
	vertical-align: middle;
}
#nav-list { margin-top: 10px; }
#nav-list a { color: #951c49; text-align: center; }
#nav-list a:hover { background: #E7E7E7; }
#nav-list a span { font-size: 1.8em; }
#phone { margin-top: 5px; }
#phone a { text-align: right; padding-bottom: 0px; }
#phone div { text-align: right; padding-right: 15px; color: #557c3e; }
.navbar-header button.navbar-toggle, .navbar-header .icon-bar { border: 1px solid #61122f; }
.navbar-header button.navbar-toggle { clear: both; margin-top: -30px; }/*end of header*/

/*Body*/
body { 
	background-color: #61122f;
	font-size: 16px; 
	color: #fff;
	font-family: 'lora', sans-serif; }
.jumbotron { 
 	box-shadow: 0px 0px 50px #3F0C1F;
 	}
 .tile div:hover, .tile div:active {
 	box-shadow: 0px 1px 5px 1px white; 
 }
 #menu-tile { 
 	background: url(../images/menu-tile.jpg) no-repeat;
 	background-position: center;
 	width: 100%;
 	height: 250px;
 	position: relative;
 	border: 2px solid #3F0C1F;
 	margin-bottom: 15px;
 	overflow: hidden; }
 #specials-tile { 
 	background: url(../images/specials-tile.jpg) no-repeat;
 	background-position: center;
 	width: 100%;
 	height: 250px;
 	position: relative;
 	border: 2px solid #3F0C1F;
 	margin-bottom: 15px;
 	overflow: hidden; }
 #map-tile { 
 	width: 100%;
 	height: 250px;
 	position: relative; 
 	border: 2px solid #3F0C1F;
 	margin-bottom: 15px;
 	overflow: hidden; }
 a div span { 
 	position: absolute;
 	bottom: 0;
 	right: 0;
 	width: 100%;
 	font-size: 1.3em;
 	color: white;
 	padding: 4px;
 	text-decoration: none;
 	text-align: center;
 	background-color: #000;
 	opacity: .7; }
/* end of body */

/* footer */
footer {
	margin-top: 30px;
	padding: 30px;
	background-color: #222;
}
footer section span { 
	font-size: 1.4em;
	 }
footer .container { 
	line-height: 2em;
	margin-bottom: 10px; }
footer .container .delivery { 
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8;
	margin-bottom: 10px; }
#testimonials p { 
	line-height: 1em;
	margin-bottom: 10px; }
section hr { width: 50%; }

/*Media queries*/
/******* large devices only **********/
@media (min-width: 1200px) {
	.container .jumbotron { 
	background: url('../images/jumbotron_1200.jpg') no-repeat;
	height: 675px;
	border: 2px #3F0C1F; }
}

/******* medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	#logo-img {
		background: url('../images/restaurant-logo_medium.png') no-repeat;
		width: 100px;
		height: 100px;
		margin: 5px 5px 5px 0px;}
	.container .jumbotron { 
	background: url('../images/jumbotron_992.jpg') no-repeat;
	height: 558px;
	border: 2px #3F0C1F; }
}

/******* small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.container .jumbotron { 
	background: url('../images/jumbotron_768.jpg') no-repeat;
	height: 430px;
	border: 2px #3F0C1F; }
}

/******* extra small devices only **********/
@media (max-width: 767px) {
	.navbar-brand { 
	padding-top: 10px;
	height: 80px; }
	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 5vw;}
	.navbar-brand p { 
	font-size: .6em;
	margin-top: 10px; }
	.navbar-brand p img { 
	height: 20px; }

	#nav-list a { 
	font-size: 1.2em; }
	#nav-list a span { 
	font-size: 19px;
	margin-right: 5px; }
	#call-btn .panel{ background-color: #f6b319;
	border: 2px solid white;
	font-size: 1.5em;
	padding: 10px;
	margin: 20px 20px 0px 20px; }
	#call-btn .panel a { 
	color: #951c49; }
	#call-btn .panel a:hover, #call-btn .panel a:active { 
	text-decoration: none; 
	color: #951c49; }
	#call-btn p { 
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: .7em;
	letter-spacing: .1em;
	margin-top: 5px; }

	.container .jumbotron {
	padding: 0px;
	border: 2px #3F0C1F;
	margin-top: 25px;
	box-shadow: 0px 0px 50px #3F0C1F; }

	#menu-tile, #specials-tile {
		width: 360px;
		margin: 15px auto;
	}
	footer { 
	text-align: center; }
}
/******* ultra small devices only **********/
@media (max-width: 479px) { 
	#menu-tile, #specials-tile { 
		width: 280px;
		margin: 15px auto; }
 }





